.section-title{
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
  }

.section
{
	/* text-align:center; */
	padding:100px 100px;
}

.section-light
{
	background-color: #fefefe;
	color:#666;
}

.section-dark
{
	background-color: #282e34;
	/* color:#ddd; */
}