/*NAVBAR*/
#navbar
{
	background-color: #4A89FF;
}
/*NAVBAR*/

/*PARALLAX*/
body, html
{
	height:100%;
	margin:0;
	font-size:16px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	color:#666;
}

.pimg1, .pimg2, .pimg3, .pimg4
{
	position:relative;
	opacity:0.70;
	background-position:center;
	background-size: cover;
	background-repeat: no-repeat;
	/*
		if you to remove this effect
		fixed = parallax
		scroll = normal
	*/
	background-attachment: fixed;
}

.pimg1
{

	background-image: url(../images/bg01.jpeg);
	min-height:800px;
}

.pimg2
{
	background-color: grey;
	background-image: url(../images/bg02.jpeg);
	min-height:600px;
}

.pimg3
{
	background-image: url(../images/bg03.jpeg);
	min-height:600px;
}
.pimg4
{
	background-image: url(../images/bg01.jpeg);
	min-height:600px;
}

.cardPortfolio
{
  width: 400px;
	height: 300px;
}

.ptext
{
	position:absolute;
	top:50%;
	width:100%;
	text-align: center;
	color:#000;
	font-size: 27px;
	letter-spacing: 8px;
	text-transform:uppercase;
}

.ptext .border
{
	background-color: #111;
	color:#fff;
	padding: 20px;
}

.ptext .border.trans
{
	background-color: transparent;
}
/*PARALLAX*/

.card
{
  align-items: center;
  border: none;
}
/*#cardBody
{
	width:200px;
	height: 50%;
}*/
.cardSkill
{
	width: 230px;
	height: 170px;
	padding-top: 20px;
}

#cardImg
{
	width: 100px;
	padding-top: 100px;
}

/*My Image*/
#me
{  height:250px;
   width:240px;
   border-radius: 50%;
   border-style: solid;
   border-width: 5px;
   border-color: white ;
   margin-top: 50;
   margin-right: auto;
   margin-left: auto;
   display:block;
}
/*My Image*/

/*  */
.line {
  height: 3px;
  width: 100px;
  position: relative;
  top: -12px;
  display: inline-block;
  background-color: #999;
}

.line.about {
  background-color: rgba(0, 0, 0, 0.54);
}

/*  */


/* Hover Effect */
.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}
/* Hover Effect */

/* contact */
#contact {
  background: #f8f9fa; }

.contact-block {
  height: 50px;
  margin-bottom: 150px; }


.contact-block .fas, .contact-block .far {
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 25px;
  border: 1px #a3a3a3 solid;
  border-radius: 50%;
  color: #454545;
}

.contact-text {
  padding-left: 16px; }
  .contact-text p:first-child {
    text-align: left;
    color: #454545;
    font-weight: bold; }

#contact-detail
{
	margin-top: 40px;
}

.field {
  width: 400px;
  text-align: left;
  margin-top: 15px; }

input[type=text] {
  display: inline-block;
  width: 100%;
  padding: 5px;
  height: 45px;
  font-size: 1.2em;
  background: #f8f9fa;
  border: 1px #a3a3a3 solid;
  color: #a3a3a3; }

textarea {
  display: inline-block;
  width: 100%;
  padding: 5px;
  font-size: 1.2em;
  background: #f8f9fa;
  border: 1px #a3a3a3 solid;
  color: #a3a3a3; }

#contact-submit 
{
  padding: 10px;
  background: none;
  border: 1px #a3a3a3 solid;
  cursor: pointer;
  font-size: 1.2em;
  float: right; 
}
/* contact */

#row-contactMe
{
	margin-top:50px;
}
/* Map */
.map-container-section {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-section iframe {
  left:0;
  top:0;
  height:485px;
  width:100%;
  position:absolute;
}

.map
{
  margin-top: 45px;
}
/* Map */

/* Footer */
.footer
{
	background-color: #4A89FF;
	color: white;
  position: fixed;
  bottom: 0;
  width:100%;
}
/*FOOTER*/

.send
{
  margin-top:50px;
  margin-bottom: 50px;
}
#button
{
  width: 140px;
  text-align:center;
}

@media screen and (max-width: 768px) {
	.contact-block {
		margin-bottom: 40px; } }

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}

}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .cardSkill
  {
    width: 150px;
    height: 150px;
    padding-top: 20px;
  }
  .cardPortfolio
  {
    width: 620px;
    height: 300px;
  }
}
